{% include "menu.html" %}


<html>
<div class="container" style="width:45%;float:left">
    <body>

    {%block main%}
    <h4>All Issue Areas</h4>
    <b>Reduced {{total_traffic}} traffic hits to {{num_cluser}} clusters.</b>
    {%endblock%}



    <div id="map" style="height:400px;"></div>
    <script>


      var map, heatmap;

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 3.5,
          center: {lat: 40, lng: -100},
          mapTypeId: 'satellite'
        });

        heatmap = new google.maps.visualization.HeatmapLayer({
          data: getPoints(),
          map: map
        });

         var center_lat = {{ center_lat }}
         var center_lng = {{ center_lng }}
         var center_lat_fips = {{ center_lat_fips }}
         var center_lng_fips = {{ center_lng_fips }}

       var circle_secondary = {
    path: google.maps.SymbolPath.CIRCLE,
    fillColor: 'gray',
    fillOpacity: .4,
    scale: 3.5,
    strokeWeight: 1
};

       var circle_prime= {
    path: google.maps.SymbolPath.CIRCLE,
    fillColor: 'gold',
    fillOpacity: .6,
    scale: 4.5,
    strokeColor: 'white',
    strokeWeight: 1
};

        for (i = 0; i < center_lat.length; i++) {
            var marker = new google.maps.Marker({
          position: new google.maps.LatLng(center_lat[i],center_lng[i]),
          map: map,
          title:'',
          icon:circle_secondary,
        });
    }

         for (i = 0; i < center_lat_fips.length; i++) {
            var marker = new google.maps.Marker({
          position: new google.maps.LatLng(center_lat_fips[i],center_lng_fips[i]),
          map: map,
          title:'',
          icon:circle_prime,
        });
        }
      }


      function getPoints() {
        var heat_lat = {{ lat | safe}}
        var heat_lng = {{ lng | safe }}
        console.log(heat_lat)
        console.log(heat_lng)
        var arr = []
        for (i = 0; i < heat_lat.length; i++) {
            var point = new google.maps.LatLng(heat_lat[i],heat_lng[i]);
            arr.push(point)
        }

        return arr;
      }

      $(document).ready(function() {

  $(".toggle-accordion").on("click", function() {
    var accordionId = $(this).attr("accordion-id"),
      numPanelOpen = $(accordionId + ' .collapse.in').length;

    $(this).toggleClass("active");

    if (numPanelOpen == 0) {
      openAllPanels(accordionId);
    } else {
      closeAllPanels(accordionId);
    }
  })

  openAllPanels = function(aId) {
    console.log("setAllPanelOpen");
    $(aId + ' .panel-collapse:not(".in")').collapse('show');
  }
  closeAllPanels = function(aId) {
    console.log("setAllPanelclose");
    $(aId + ' .panel-collapse.in').collapse('hide');
  }

});
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAovwwttuLBsvolc97QUc5pejsbwfLPPZs&libraries=visualization&callback=initMap">

    </script>



    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

      var dataOne = google.visualization.arrayToDataTable([
          ['Task', 'Percent of Traffic'],
          ['Transaction',     {{ total_transactions }}],
          ['Just Visting',        {{ total_traffic }}],
        ]);

        var optionsOne = {
          title: 'Traffic Converison'
        };

        var chartOne = new google.visualization.PieChart(document.getElementById('piechartOne'));
        chartOne.draw(dataOne, optionsOne);
      }
    </script>

    <div class="shadow-lg p-3 mb-5">
        <div id="piechartOne" style="height: 500px;"></div>
    </div>

    <div class="shadow-lg p-3 mb-5">
        <div class="shadow-sm p-3 mb-5">Assuming you can convert 10% more people by advertising to identified web traffic.</div>
        <div class="shadow-sm p-3 mb-5" style="background-color:lightgreen">Your gains are ${{gains|floatformat}}!</div>
    </div>


</div>

<div class="container" style="width:45%;float:right;margin-right:5%;margin-top=5%">

    {%block two%}
    <h4>Recommended Target Areas</h4>
    {%endblock%}
    <b>Our recommendations are based on market demographics of your past sales. Including age, education and income.

 <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a  href="/remedy/{{best.data.fips}}">
        Top Recommendation
        </a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
        <div class="shadow-sm p-2 mb-3">  {{best.ip|default:"Unknown"}} - {{best.data.county|default:"Unknown"}}
        <b>Score: {{best.data.score|default:"-"}}</b>
        </div>
      <div class="panel-body" style="background-color:lightgreen">
          <div class="shadow-lg p-3 mb-5 bg-white rounded">
       <div class="shadow-sm p-3 mb-5">Total Population 18-25: {{best.data.total_population_18_25}}</div>
       <div class="shadow-sm p-3 mb-5">Male Population 18-25:  {{best.data.male_population_18_25}}</div>
        <div class="shadow-sm p-3 mb-5">Famale Population 18-25: {{best.data.female_population_18_25}}</div>
        <div class="shadow-sm p-3 mb-5">Population 18-25 w/ Bachelor's: {{best.data.population_18_25_bat_or_up}}</div>
        <div class="shadow-sm p-3 mb-5">Total Population over 25:{{best.data.population_25_or_up}}</div>
        <div class="shadow-sm p-3 mb-5">Population over w/ Graduate Work: {{best.data.population_25_or_up_grad}}</div>
      </div>
    </div>
  </div>
      {%for r in traffic_data%}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 href="remedy/{{r.data.fibs}}" class="panel-title"  {%if r.data.score < 2%} style="background-color:lightgreen" {%endif%}>
        <span data-toggle="collapse" data-parent="#accordion" href="#collapse{{forloop.counter|add:1}}"r>
            {{r.ip|default:"Unknown"}} - {{r.data.county|default:"Unknown"}} <div style="float:right">Score: {{r.data.score|default:"-"}}<span class="glyphicon glyphicon-chevron-right"></span><a href="/remedy/{{r.data.fips}}"</a></span></div>
      </h4>
    </div>
    <div id="collapse{{forloop.counter|add:1}}"  class="accordion-body collapse">
        {%if r.data.total_population_18_25%}
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
       <div class="shadow-sm p-3 mb-5">Total Population 18-25: {{r.data.total_population_18_25}}</div>
       <div class="shadow-sm p-3 mb-5">Male Population 18-25:  {{r.data.male_population_18_25}}</div>
        <div class="shadow-sm p-3 mb-5">Famale Population 18-25: {{r.data.female_population_18_25}}</div>
        <div class="shadow-sm p-3 mb-5">Population 18-25 w/ Bachelor's: {{r.data.population_18_25_bat_or_up}}</div>
        <div class="shadow-sm p-3 mb-5">Total Population over 25:{{r.data.population_25_or_up}}</div>
        <div class="shadow-sm p-3 mb-5">Population over w/ Graduate Work: {{r.data.population_25_or_up_grad}}</div>
      </div>
        {%endif%}
    </div>
  </div>

     {%endfor%}
</div>


</div>
</div>


    </body>


<body>



</body>
</html>
