{% load bootstrap3 %}
<!DOCTYPE html>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="index.html">IP Informer</a>

<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="/index">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/investigate">Investigate</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Remedy</a>
      </li>
    </ul>

</nav>
  <head>
    <title>IP Inform</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
  </head>