{% load bootstrap3 %}
<!DOCTYPE html>
<nav class="navbar navbar-expand-lg navbar-inverse">
  <a class="navbar-brand" href="/index">IP Informer</a>

<ul class="navbar-nav navbar-dark">
      <li class="nav-item">
        <a class="nav-link" href="/investigate">Investigate</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/remedy">Remedy</a>
      </li>
</ul>


</nav>
  <head>
    <title>IP Inform</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  </head>